name: Build for Beat Saber

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.0.x

      - name: Initialize modding environment
        uses: beat-forge/init-beatsaber@v1
        with:
          token: ${{ github.token }}
          repo: beat-forge/beatsaber-stripped

      - name: Download mod dependencies
        uses: Goobwabber/download-beatmods-deps@1.3
        with:
          manifest: ${{ github.workspace }}/BeatSaberSDK/manifest.json

      - name: Build
        id: Build
        run: cd src/reactive-bs-sdk && dotnet build --configuration Release

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.Build.outputs.filename }}
          path: ${{ steps.Build.outputs.artifactpath }}