name: Build for Beat Saber

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - name: Initialize modding environment
        uses: beat-forge/init-beatsaber@v1
        with:
          token: ${{ github.token }}
          repo: beat-forge/beatsaber-stripped

      - name: Download mod dependencies
        uses: Goobwabber/download-beatmods-deps@1.3
        with:
          manifest: ${{ github.workspace }}/src/reactive-bs-sdk/Reactive.BeatSaber/manifest.json

      - name: Build
        id: build
        run: dotnet build -c Release ${{ github.workspace }}/src/reactive-bs-sdk/Reactive.BeatSaber/Reactive.BeatSaber.csproj
        env:
          BeatSaberDir: ${{ github.workspace }}/Refs/

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build.outputs.filename }}
          path: ${{ steps.build.outputs.artifactpath }}