name: Build

on:
  push:
  pull_request:
    branches:
      - 'master'

jobs:
  build-reactive:
    name: Build Reactive
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      #  with:
      #    submodules: recursive
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
      - name: Initialize modding environment
        uses: beat-forge/init-beatsaber@v1
        with:
          token: ${{ github.token }}
          repo: beat-forge/beatsaber-stripped

      - name: Build
        id: build
        run: dotnet build --configuration Release ./Reactive
        env:
          BeatSaberDir: ${{ github.workspace }}/Refs/

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build.outputs.filename }}
          path: ${{ steps.build.outputs.artifactpath }}

  build-reactive-components:
    name: Build Reactive.Components
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      #  with:
      #    submodules: recursive
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
      - name: Initialize modding environment
        uses: beat-forge/init-beatsaber@v1
        with:
          token: ${{ github.token }}
          repo: beat-forge/beatsaber-stripped

      - name: Build
        id: build
        run: dotnet build --configuration Release ./Reactive.Components
        env:
          BeatSaberDir: ${{ github.workspace }}/Refs/

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build.outputs.filename }}
          path: ${{ steps.build.outputs.artifactpath }}
  
  build-reactive-beatsaber:
    name: Build Reactive.BeatSaber
    runs-on: ubuntu-latest
    outputs:
      filename: ${{ steps.build.outputs.filename }}
    steps:
      - uses: actions/checkout@v6
      #  with:
      #    submodules: recursive
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
      - name: Initialize modding environment
        uses: beat-forge/init-beatsaber@v1
        with:
          token: ${{ github.token }}
          repo: beat-forge/beatsaber-stripped
      - name: Download Mod Dependencies
        uses: Goobwabber/download-beatmods-deps@1.3
        with:
          manifest: ${{ github.workspace }}/Reactive.BeatSaber/manifest.json
      - name: Build
        id: build
        run: dotnet build -c Release ./Reactive.BeatSaber
        env:
          BeatSaberDir: ${{ github.workspace }}/Refs/

      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build.outputs.filename }}
          path: ${{ steps.build.outputs.artifactpath }}
  
  package-all:
    name: Package All
    needs: [ build-reactive, build-reactive-components, build-reactive-beatsaber ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v5
        with:
          merge-multiple: true
      - uses: actions/upload-artifact@v6
        with:
          name: ${{needs.build-reactive-beatsaber.outputs.filename}}-aio
          path: ${{ github.workspace }}