name: Build

on:
  push:
  pull_request:
    branches:
      - 'master'

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      #  with:
      #    submodules: recursive
      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
      - name: Initialize modding environment
        uses: beat-forge/init-beatsaber@v1
        with:
          token: ${{ github.token }}
          repo: beat-forge/beatsaber-stripped
      - name: Download Mod Dependencies
        uses: Goobwabber/download-beatmods-deps@1.3
        with:
          manifest: ${{ github.workspace }}/Reactive.BeatSaber/manifest.json
      - name: Build
        id: Build
        run: dotnet build --configuration Release
        env:
          BeatSaberDir: ${{ github.workspace }}/Refs/

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.Build.outputs.filename }}
          path: ${{ steps.Build.outputs.artifactpath }}
